/* 
* { margin:0; padding:0;}
span.snippet { margin: 0.25em 0 1em 0; display: block; overflow: auto; white-space: nowrap; background-color: #000000; font-family: monospace; color: #ffffff; padding: 4px; border: 1px solid #777777; font-size: 1.1em; }
.Identifier { color: #00ffff; }
.OldComment { color: #8080ff; }
.Comment { color: blue; }
.Constant, .Constant a { color: #ff6060; }
.Statement { color: #ffff00; }
.Special { color: #ff40ff; }
.PreProc { color: #ff40ff; }
.Type { color: #00ff00; }
table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
td, tr { border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; border: 0; }
td.lines { vertical-align: top; width: 1%; background-color: #e0e0e0; color: blue; font-family: monospace; padding: 0.5em 0.5em 0 0.5em; text-align: right; font-size: 1.1em; }

body {
  margin: 0;
  padding: 0;
  width: 850px;
  font-size: 62.5%;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

fieldset,img,abbr,acronym {
  border: 0;
}

ul {
  list-style: none;
  margin: 0 0 8px 0px;
  padding: 0;
}

div, li {
  margin: 0;
  padding: 0;
}

li {
  margin: 8px;
}

caption, th {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  clear: both;
  margin: 0;
  padding: 0;
}

h1 a, h2 a {
color: #646463;
}
h1 { font-size: 1.6em; color: #000; }
h2 { font-size: 1.5em; color: #222; border-bottom: 1px solid #ccc; }
h3 { font-size: 1.3em; color: #444; }
h4 { font-size: 1.1em; color: #444; }
h5 { font-size: 1.1em; color: #444; }

a {
  outline: 0;
  text-decoration: none;
}

p {
  margin: 7px 0 11px 0px;
  font-size: 1.1em;
}

img {
  margin: 0.25em;
}

label {
  display: block;
  clear: right;
  font-size: 1.2em;
  font-weight: bold;
}

input[type="text"] {
  width: 99%;
}

textarea {
  width: 99%;
  height: 480px;
}

#header {
  width: 175px;
  float: left;
  padding: 10px;
  margin: 180px 0 0 0;
}

#header h1 { background: url('/images/lorc_bullet.png') no-repeat 0 0;  height: 40px; padding: 10px 0 0 36px;}

#header li {
  float: left;
  margin: 0px;
  height: 40px; 
  margin: 0 0 15px 0;
}

#header li.active a {
  text-decoration: underline;
}

#content {
  padding: 1em;
  width: 700px;
  float: left;
  display: block; 
  background: white;
  border: 1px solid #999;
  margin: 69px 0 0 0;
}

div.other div#content {
  margin-left: 200px;
}

li img {
  max-width: 470px;
}

#logo {
  padding: 0 0 0 0;
}

#profiles li {
  float: left;
}

#profiles img {
  width: 100px;
}

#ads {
  padding-bottom: 8px;
}

.centered {
  text-align: center;
  margin: 0em auto 1em 0;
}

div.oembed {
  background: url(/images/gray_quotes.png) no-repeat scroll -180px top;
  position:relative;
  padding: 0px 0 0 0px;
}

div.oembeded {
  padding: 20px 90px 40px 90px;
  background: url(/images/gray_quotes.png) no-repeat scroll 580px bottom;
  position:relative;
}

pre {
  border: 2px inset #b2b2b2;
  padding: 2px;
}

div.experience h3 {
  display: inline;
  clear: none;
}

div.experience h4 {
  display: inline;
  margin-left: 1em;
}

div.experience hr {
  border: 1px solid #bbb;
  clear: both;
}

ul.projects {
  margin: 1em;
}

ul.projects li {
  list-style: circle;
}

ul.projects p {
  margin: 0.5em 0 1em 1em;
}

#wrap { float: left; background: #ccc; width: 1000px; background: url('/images/bg.gif') no-repeat;}
table { width: 100%; border: border-collapse; }
td.shrink { padding: 4px; }
td.puff { width: 96.75%; }

.clr{clear:both;height:0;font-size:1%;line-height:.1em;overflow:none;}
.tagdisplay{overflow: hidden; margin-left:14em;margin-top:2px;}
h5.taglabel{position:absolute;right:-4.3em;width:4em;visibility:hidden;margin-top:6px;}
ul.tags{float:right;text-align:right;margin:0 -10px 0 0;padding:0 0 0 8px;overflow:hidden;line-height:19px;}
ul.tags li{display:inline!important;margin-left:-10px;}
ul.tags li a{color:#404040;padding:1px 0 2px 8px;background:transparent url('/images/del_sprite_tags.gif') 0 -80px no-repeat;}
ul.tags li.on a{background-position:0 -120px;}
ul.tags li a span{padding:1px 13px 2px 7px;background:#F2F2F2;}
ul.tags li a span strong{font-weight:normal;color:#aaa;}
ul.tags li.on a span{text-decoration:none;color:#FFF;background:#8F8F8F;}
ul.tags li a:hover{background-position:0 -160px;text-decoration:none;}
ul.tags li a:hover span{background:#6C6C6C;color:#FFF;text-decoration:none;}
ul.tags li.on a span strong,ul.tags li a:hover span strong{color:#ccc;text-decoration:none;}

ul.bookmarks li { padding: 0 0 6px 0; border-bottom: 1px solid #efefef; }

span#wait {
  color: green;
}


@media print {
  body { width: 8.5in; }
  #header { display: none; }
  #content { width: 8.25in; border: 0px; margin: 0; float: center; }
  .unprintable { display: none; } 
}
*/
