/* Edited with EditCSS */
/**** LINK-tag style sheet main.css ****/

/* RisingCode based on Simpla */  
* { margin:0; padding:0;}
span.snippet { display: block; overflow: auto; white-space: nowrap; background-color: #000000; font-family: monospace; color: #ffffff; padding: 4px; border: 1px solid #777777; font-size: 1.3em;}
.Identifier { color: #00ffff; }
.OldComment { color: #8080ff; }
.Comment { color: blue; }
.Constant, .Constant a { color: #ff6060; }
.Statement { color: #ffff00; }
.Special { color: #ff40ff; }
.PreProc { color: #ff40ff; }
.Type { color: #00ff00; }
table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
td, tr { border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; border: 0; }
td.lines { vertical-align: top; width: 1%; background-color: #e0e0e0; color: blue; font-family: monospace; padding: 0.5em 0.5em 0 0.5em; text-align: right; font-size: 1.3em;}

body {
  margin: 0;
  padding: 0;
  width: 850px;
  font-size: 62.5%;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

fieldset,img,abbr,acronym {
  border: 0;
}

ul {
  list-style: none;
  margin: 0 0 8px 0px;
  padding: 0;
}

div, li {
  margin: 0;
  padding: 0;
}

li {
  margin: 8px;
}

caption, th {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  clear: both;
  margin: 0;
  padding: 0;
}

h1 a, h2 a {
color: #646463;
}
/* #646463 */
h1 {  font-size: 1.8em; color: #333; }
h2 {  font-size: 1.6em; color: #555; border-bottom: 1px solid #ccc; }
h3 {  font-size: 1.3em; color: #777; }
h4 {  font-size: 1.1em; color: #999; }
h5 {  font-size: 0.9em; color: #aaa; }

a {
  outline: 0;
  text-decoration: none;
}

p {
  margin: 7px 0 11px 0px;
font-size: 1.1em;
}

img {
  margin: 0.25em;
}

label {
  display: block;
  clear: right;
}

textarea {
  width: 99%;
  height: 480px;
}

#header {
  width: 175px;
  /*
  height: 400px;
  */
  float: left;
  padding: 10px;
  margin: 180px 0 0 0;
}

#header h1 { background: url('/images/lorc_bullet.png') no-repeat 0 0;  height: 40px; padding: 10px 0 0 36px;}

#header li {
  float: left;
  margin: 0px;
  height: 40px; 
  margin: 0 0 15px 0;
}

#header li.active a {
  text-decoration: underline;
}

#content {
  padding: 1em;
  width: 700px;
  float: left;
  display: block; 
  background: white;
  border: 1px solid #999;
  margin: 69px 0 0 0;
}

li img {
  max-width: 470px;
}

#logo {
  padding: 0 0 0 0;
}

#profiles li {
  float: left;
}

#profiles img {
  width: 100px;
}

#ads {
  padding-bottom: 8px;
}

p.tagged {
  font-size: smaller;
}

.centered {
  text-align: center;
  margin: 0em auto 1em 0;
}

div.oembed {
  background: url(/images/gray_quotes.png) no-repeat scroll -180px top;
  position:relative;
  padding: 0px 0 0 0px;
}

div.oembeded {
  padding: 20px 90px 40px 90px;
  background: url(/images/gray_quotes.png) no-repeat scroll 580px bottom;
  position:relative;
}

pre {
  border: 2px inset #b2b2b2;
  padding: 2px;
}

/*
td pre {
  border: 1px solid #777777;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  border-left: 1px solid #777777;
  background-color: #dfdfdf;
  margin: 0;
  padding: 2px;
}
*/

/*
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
*/
/*
.rownumber {
  margin: 0px;
  padding: 0px 20px 0px 1px;
  background-color: #000000;
  font-family: monospace;
  color: #ffffff;
  border: 0px;
}
*/


div.experience h3 {
  display: inline;
  clear: none;
}

div.experience h4 {
  display: inline;
  font-size: smaller;
  margin-left: 1em;
}

div.experience hr {
  border: 2px solid black;
  clear: both;
}

ul.projects {
  margin: 1em;
}

ul.projects li {
  list-style: circle;
}

ul.projects p {
  margin: 0.5em 0 1em 1em;
}

#wrap { float: left; background: #ccc; width: 1000px; background: url('/images/bg.gif') no-repeat;}
table { width: 100%; font-size: 1.0em;}
