@media print {
  body { width: 8.5in; }
  #header { display: none; }
  #content { width: 8.25in; border: 0px; margin: 0; }
  .unprintable { display: none; } 
  a { color: black; }
  .only_print { display: block; }
}

@media screen {
  .only_print { display: none; }
}

span.snippet { margin: 0.25em 0 1em 0; display: block; overflow: auto; white-space: nowrap; background-color: #000000; font-family: monospace; color: #ffffff; padding: 4px; border: 1px solid #777777; font-size: 1.1em; }
.Identifier { color: #00ffff; }
.OldComment { color: #8080ff; }
.Comment { color: blue; }
.Constant, .Constant a { color: #ff6060; }
.Statement { color: #ffff00; }
.Special { color: #ff40ff; }
.PreProc { color: #ff40ff; }
.Type { color: #00ff00; }

ul, ol { list-style: none; padding: 0; margin: 0; }

input, button { vertical-align: middle; margin: 1em; }
textarea { vertical-align: middle; width: 80em; height: 20em; margin: 1.25em; padding: 0.5em; }

label { display: grid; }
